html {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center,#fff 0%,#fff 30%,#e5e5eb 54%,#c9c7d1 71%);
    background-image: radial-gradient(at 50% 50%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgb(229, 229, 235) 54%, rgb(201, 199, 209) 71%);
  font-family: helvetica,arial;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Navigation*/
.nav li {
  display: inline-block;
  margin: 0 15px 0 0;
}

/*Stars*/
.stars > i {
  cursor: pointer;
  padding: 0 .3rem 0 0;
}

.total-votes{
  float: right;
  font-size: 14px;
  position: relative;
  top: -25px;
  right: -5px;
}

.bold{
  font-weight: bold;
}

/*Typo*/
#logo{
  margin: .5rem 0 0 0;
}

h1{
  margin: .5rem 0 0 0;
  font-size: 2.5rem;
}

.clear-background{
  background: white;
}

.card .card-title {
    font-size: 19px;
    font-weight: 300;
}

.card{
  box-shadow: 0 0 0 0;
  transition: box-shadow .5s ease;
}

.card:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}